<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampFinder</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="stylesheet" href="/Stylesheets/home.css">

</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <header class="my-auto mt-3">
            <div>
                <h2 class="float-md-left mb-0">CampFinder</h2>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <% if(!currentUser) { %> 
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <% } else { %> 
                    <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    <a class="nav-link" href="/logout">Logout</a>
                    <% } %>  
                </nav>
            </div>
        </header>


        <main class=" my-auto mx-auto">
            <div class="d-flex container px-4">
                <div class="align-self-center">
                    <h1 class="pb-3">CampFinder</h1>
                    <P class="lead pb-3">  FIND YOUR NEXT GETAWAY </P>
                    <a href="/campgrounds" class="btn btn-lg btn-secondary border-white bg-white " >View Campgrounds</a>
                </div>
            </div>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy;Raul Meruelo CampFinder2022</p>
        </footer>

    </div>




    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>