@font-face {
    font-family:BerkshireSwash ;
    src: url(https://res.cloudinary.com/darsztkcl/raw/upload/v1661868026/CampFinder/BerkshireSwash-Regular_w27iqe.ttf);
}
@font-face {
    font-family:Raleway-Bold ;
    src: url(https://res.cloudinary.com/darsztkcl/raw/upload/v1661868026/CampFinder/Raleway-Bold_s5xjv2.ttf)
}
@font-face {
    font-family:Raleway-Light ;
    src: url(https://res.cloudinary.com/darsztkcl/raw/upload/v1661868026/CampFinder/Raleway-Light_akbnda.ttf);
}
@font-face {
    font-family:Raleway-Med ;
    src: url(https://res.cloudinary.com/darsztkcl/raw/upload/v1661868027/CampFinder/Raleway-Medium_jvg5al.ttf);
}



/* Login Page and SignUp Page*/
#new{
    font-family: Raleway-Bold;
}
#password { 
    background-image: url(https://res.cloudinary.com/darsztkcl/image/upload/v1661867908/CampFinder/invisible_loyeof.png);
    background-position: 97% center;
    background-repeat: no-repeat;
  }
#password.visible {
    background-image: url(https://res.cloudinary.com/darsztkcl/image/upload/v1661867908/CampFinder/visible_tdxmbf.png);
  }

/* NavBar Styling */

#navbar{
    background-color:rgb(0,0,0);opacity:0.8;
    font-family: Raleway-Bold;

}

#brand{
    font-family: BerkshireSwash;
    font-size: 25px;
}

.nav-link{
    padding:0.25rem 0;
    font-weight: 700;
    color: rgb(255,255,255,0.7);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-family: Raleway-Bold;
}


.nav-link:hover{
    color: rgba(255,255,255,0.9 );
    border-bottom-color:rgba(255,255,255,0.9 );
}

.nav-link.active{
    color: white;
    border-bottom-color: white;
    }


    /* Footer Styling*/

#footer{
    background-color: rgba(0, 0, 0, 0.8);
    font-family: Raleway-Light;
    position: flex;
    height: 30px;
}

/* Campground main page Styling*/

#card-p{
    text-overflow:ellipsis;
    font-family: Raleway-Med;
    }
.jumbotron{
    display: flex;
    align-items: center;
    background-image: url(https://res.cloudinary.com/darsztkcl/image/upload/v1660924213/CampFinder/gdtlg2odhjtkkds4nhue.jpg);
    background-size: cover;
    color:#ffffff;
    height: 500px;
    font-family: BerkshireSwash;

}
.jumbotron h1{
    font-size: 75px;
   
}


#campsites{
    font-family: BerkshireSwash;

}

#scroller{
    height: 40em;
   
}

#card{
    font-family: Raleway-Bold;
    border: 1px solid black;
}


.camp-card-body{
    height: 10vh;
}

#card .text-muted{
    font-family: Raleway-Light;
}

#card .card-img-top{
    border: 2px solid black;
    width: 100%;
    height: 15vw;
    object-fit: cover;
}




/*Edit Forms styling*/
#edit{
    font-family: Raleway-Med;
}

#edit .card-title{
    font-family: Raleway-Bold;
}

#edit #photos{
    height: 300px;
}

#edit .card-img-top{
    border: none;
    width: 100%;
    height: 5vw;
    object-fit: cover;
}

#edit .btn{
    width: 8vw;
}


/* Detail Page styling */

 #details .card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: scale-down;
}

#details .card{
    height: 75vh;
}

#details{
    font-family: Raleway-Med;
}

#details .text-muted{
    font-family: Raleway-Light;
}

#details .card-title{
font-family: Raleway-Bold;
}



.review-scroll{
    height: 50vh;
}

.review{
    width: 50vh;
}

.review-create{
    height: 25vh;
}

.hidden{
    display: none;
}