<% layout('layouts/boilerplate') %> 


<section class="container pt-5" id="new">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow pt-5 mb-4 pb-5">
                <div class="col-md-8 offset-md-2">
                    <img src="https://res.cloudinary.com/darsztkcl/image/upload/v1661367863/CampFinder/photo-1519885277449-12eee5564d68_z9v2cj.jpg" 
                    class="card-img-top border">
                    <div class="card-body shadow border pt-3 pb-3 ">
                        <h4 class="card-title text-center">Register<hr></h4>
                        <form action="/register" method="post" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>  
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>  
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required> 
                                <input type="checkbox" id="toggle-password"/>
                                <label for="toggle-password">Show Password</label>
                            </div>
                            <button class="mb-3 btn btn-secondary btn-block shadow">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>



<script type="text/javascript" src="/Javascripts/toggleView.js"></script>
